{# <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
      Details
    </span>
    </summary>
    <div class="govuk-details__text">
        <table class="govuk-table">
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Description</th>
                    <td class="govuk-table__cell">{{ data.description }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Geo matters</th>
                    <td class="govuk-table__cell">{{ data.geography_matters }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Interesting to WF</th>
                    <td class="govuk-table__cell">{{ data.interest_to_wf }}</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Significant digits</th>
                    <td class="govuk-table__cell">{{ data.significant_digits }}</td>
                </tr>
            </tbody>
        </table>

    </div>
</details> #}